.Contact {
    h2, h3, ul, li {
        color: $brand-secondary;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    input, textarea {
        width: 100%;
        padding: 5px;
        background: #eeeeee;
        border: 1px solid #dedede;
        margin-bottom: 12px;
        border-radius: 5px;
    }
}