.Header {
    
    input {
        background: #eeeeee;
        border-radius: 15px;
        border: 1px solid #e5e5e5;
        padding: 2.5px 15px;
        margin-right: 10px;
    }

    .menu-primary-navigation-container {
        text-align: right;
        margin-top: 35px;
        li {
            display: inline-block;
            // margin-left: 10px;
            color: $brand-secondary;
            a {color: $brand-secondary;}
            // border-right: 1px solid $brand-secondary;
            padding: 0 10px;
        }
    }
    .col-md-9 .List {
        text-align: right;
        li {
            display: inline-block;
        }
    }
    .Product-category-nav {
        background: #1a5b8b;
        text-align: center;
        padding: 5px 0;
        border-bottom: 5px solid #4cac4d;
        ul {
            margin-bottom: 0px;
        }
        li {
            display: inline-block;
            margin: 0 10px;
        }
        a {
            color: white;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__fixed {
        position: fixed;
        right: -100px;
        top: 20%;
        z-index: 10;
        text-align: center;
        background: #eeeeee;
        padding: 20px 105px 20px 20px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-top-right-radius: 45%;
        border-bottom-right-radius: 45%;
        -webkit-box-shadow: -5px 0px 3px -1px rgba(0,0,0,0.34);
        -moz-box-shadow: -5px 0px 3px -1px rgba(0,0,0,0.34);
        box-shadow: -5px 0px 3px -1px rgba(0,0,0,0.34);
        ul {
            padding:0;
            margin: 0;
            list-style-type: none;
            li {
                padding: 20px 0;
                border-bottom: 1px solid #e2e2e2;
                .fa {
                    color: #1a5b8b;
                }
                &:last-of-type {
                    border-bottom: 0px;
                }
                a {color: black;}
            }
        }
    }
}