.Page {
    p:last-child {
        margin-bottom: 0;
    }    
}
// About page
.About-pg__links {

}
.About__link {
    background: url(../images/about-bg.png);
    padding-top: 6rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    border-radius: 5px;
    display: block;
    color: white !important;
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
        transform: scale(1.1);
    }
}

// Archive Product
.Archive h1 {
    color: #1a5b8b;
    font-size: 24px;
    font-weight: bold;
}

.Archive .woocommerce ul.products li.product, .Archive .woocommerce-page ul.products li.product {
    width: 30% !important;
}

.wpf_item .wpf_item_name, .wpf_item label,.wpf_price_range label:hover, .wpf_price_range input:checked+label {
    color: #1a5b8b
}

.wpf_price_range label:hover, .wpf_price_range input:checked+label {
    font-weight: bold !important;
}

// Single Product
.Product-info {
    clear: both;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 3rem;
    .Toggle {
        cursor: pointer;
        &__title {
            background: #eee;
            padding: 10px;
            margin-bottom: 10px;
            position: relative;
            h2 {margin-bottom: 0px; color: #3c3c3b; font-weight: bold;font-size: 24px;}
            .fa {
                position: absolute;
                top: 15px;
                right: 10px;
            }
        }
        &__info {
            display: none;
            // padding: 1rem !important;
        }
    }
}
.woocommerce-tabs {
    display: none;
}

.woocommerce-product-gallery__wrapper {
    margin-top: 10px;
}
.woocommerce-product-gallery__wrapper div {
    margin-bottom: 15px;
}
.woocommerce-product-gallery__wrapper div {
    border: 1px solid #eee;
}

.single-product .Product__sale-img {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 99;
}

.woocommerce-Reviews-title {
    display: none;
}
.woocommerce #review_form #respond {
    border-top: 1px solid #eee;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.comment-form-rating label {
    margin-right: 10px;
}

.woocommerce #reviews #comments ol.commentlist li {
    margin: 35px 0;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, .summary a, .stock, .in-stock {
    color: #1a5b8b !important;
}

// PRODUCT
.archive .product {
    text-align: center;
    h2 {
        color: #1a5b8b;
    }
}
.woocommerce .star-rating {
    display: none !important;
}

.woocommerce-noreviews {
    // margin-top: 1.5rem;
}

.related h2 {
    color: #1a5b8b;
    font-weight: bold;
}
.woocommerce div.product form.cart div.quantity {
    display: block;
    margin-bottom: 10px;
    float: none;
}

.woocommerce-product-gallery__wrapper div {
    margin: 5.3px;
    position: relative;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 23% !important;
}

.woocommerce .quantity .qty {
    border: 2px solid #dcdcdc;
    background: #eee;
    border-radius: 10px;
    padding: 3px;
}

.entry-summary h1 {
    margin-bottom: 0px;
}


.entry-summary .woocommerce-Price-amount {
    font-size: 30px;
    font-weight: bold;
}

.qty-import {
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-right: 10px;
}

ul.products .Product__sale-img {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 99;
    max-width: 80%;
}

.woocommerce ul.products li.product .price {
    color: #1a5b8b;
}

.tax-product_cat ul.products li.product {
    width: 30.05%;
}

// Contact
.Contact-page {
    h2, h3, ul, li {
        color: $brand-secondary;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    input, textarea {
        width: 100%;
        padding: 5px;
        background: #eeeeee;
        border: 1px solid #dedede;
        margin-bottom: 12px;
        border-radius: 5px;
    }
}

// Breadsticks
.breadcrumb-container.theme1 a {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
    color: #777 !important;
    font-size: .92rem !important;
}
.breadcrumb-container {
    margin-bottom: 1rem !important
}
.breadcrumb-container li .separator {
    margin: 0 5px !important;
    font-size: 0.92rem;
}

.breadcrumb-container.theme1 li:last-child .separator {
    // display: none;
}

.woocommerce .woocommerce-breadcrumb {
     font-family: 'Open Sans', sans-serif;
}

.woocommerce-ordering, .woocommerce-result-count {
    display: none;
}

// SPECIAL OFFERS
.Special-offers {
    .Offers-wrap {
        list-style-type: none;
        li {
            position: relative;
            width: 24%;
            float: left;
            // margin: 0 1%;
            img {

            }
            .Product__sale-img {
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }
}

// Checkout
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left !important;
    width: 48% !important;
    max-width: 100%;
    display: relative;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        max-width: 100%;
    display: relative;
}
.checkout {
    input, textarea {
        width: 100%;
        padding: 5px;
        background: #eeeeee;
        border: 1px solid #dedede;
        margin-bottom: 12px;
        border-radius: 5px;
    }
}