.Product-bundles {
    &__header {
        background: $brand-secondary;
        h2 {
            margin-bottom: 0;
            padding: 12px 0;
            color: white;
        }
    }
    img {
        max-width: 100%;
    }
    .bundle-right {
        position: absolute;
        right: 20px;
        color: white;
        z-index: 99;
        font-size: 30px;
        top: 45%;
        cursor: pointer;
    }
    .bundle-left {
        position: absolute;
        left: 20px;
        color: white;
        z-index: 99;
        font-size: 30px;
        top: 45%;
        cursor: pointer;
    }
}